/* purgecss start ignore */
@tailwind base;

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 17px;
}

body {
  background: #e1e1e4;
  color: #333;
  height: 100vh;
}

h1 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 16px;
}
h2 {
  font-size: 25px;
  line-height: 31px;
}
h3 {
  color: #888;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}
h5 {
  @apply text-sm font-semibold;
}
h6 {
  @apply text-xs mb-2 text-gray-900;
}
a {
  @apply text-blue-500 underline;
}
a:hover {
  @apply text-blue-700 no-underline;
}
p {
  line-height: 24px;
  margin-bottom: 17px;
}

ul {
  @apply list-disc pl-6;
}

hr {
  @apply my-4 border-gray-400;
}

.notes-header {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 32px;
}

.notes-header a {
  display: block;
}

.note-container {
  @apply p-0;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.note-container:first-child {
  border-left: none;
}

.note-body {
  @apply p-8;
}

.note-body a:visited {
  @apply text-purple-600;
}

.note-footer {
  @apply p-4;
}

.backlinks {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 16px;
}

.refs-box {
  background-color: #f2f2f5;
  border-radius: 16px;
  padding: 16px;
  width: 100%;
}

.reference-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reference-block {
  color: #333;
  display: block;
  text-decoration: none;
}

.reference-block:visited,
.reference-block:hover {
  color: #333;
}

.reference-inner-block {
  background-color: transparent;
  border-radius: 8px;
  margin: 8px -8px 0;
  padding: 8px;
  width: 282px;
}

.reference-inner-block:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

.reference-heading {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 8px;
}

.reference-description {
  color: rgb(102, 102, 102);
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 0;
}

blockquote {
  @apply py-1 px-4 mb-4 border-l-2 border-blue-500;
}
blockquote p {
  @apply m-0 font-serif text-xl;
}

code {
  @apply text-sm text-orange-800 bg-orange-100 px-1 -mx-1 rounded;
}

pre {
  @apply mb-4;
}

pre > code {
  @apply p-0 m-0 mb-2 bg-transparent;
}

@tailwind components;

/* copied from tippy.js/animations/shift-away.css */
.tippy-box[data-animation="shift-away"][data-state="hidden"] {
  opacity: 0;
}
.tippy-box[data-animation="shift-away"][data-state="hidden"][data-placement^="top"] {
  transform: translateY(10px);
}
.tippy-box[data-animation="shift-away"][data-state="hidden"][data-placement^="bottom"] {
  transform: translateY(-10px);
}
.tippy-box[data-animation="shift-away"][data-state="hidden"][data-placement^="left"] {
  transform: translateX(10px);
}
.tippy-box[data-animation="shift-away"][data-state="hidden"][data-placement^="right"] {
  transform: translateX(-10px);
}

/* purgecss end ignore */

@tailwind utilities;

.highlight {
  @apply bg-yellow-200 px-1 -mx-1 rounded;
}

.handwritten-notes-img {
  position: relative;
  z-index: 0;
}

.handwritten-notes-content {
  position: absolute;
  top: 140px;
  width: 400px;
  color: transparent;
  z-index: 0;
}

/* purgecss start ignore */

.handwritten-notes-content a {
  color: transparent;
}

.handwritten-notes-content a[href="/ipad"] {
  position: absolute;
  z-index: 2;
  display: block;
  top: 310px;
  left: calc(50% - 63px);
}

/* purgecss end ignore */
